<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestBusinessLogic.Properties.Settings.HisDemoConnectionString"
            connectionString="Data Source=GLORYSCHOLARPC;Initial Catalog=HisDemo;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="TestBusinessLogic.Properties.Settings.AdventureWorks2008R2ConnectionString"
            connectionString="Data Source=GLORYSCHOLARPC;Initial Catalog=AdventureWorks2008R2;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>