<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--处理器别名-->
    <alias alias="LogCallHandler" type="GS.Entlib.AOPHandler.LogCallHandler, GS.Entlib.AOPHandler" />
    <alias alias="LockCallHandler" type="GS.Entlib.AOPHandler.LockCallHandler, GS.Entlib.AOPHandler" />
    <alias alias="TransactionCallHandler" type="GS.Entlib.AOPHandler.TransactionCallHandler, GS.Entlib.AOPHandler" />

    <!--扩展注册-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <sectionExtension type="GS.Entlib.Extensions.Unity.Configuration.AutoInterceptionConfigurationExtension, GS.Entlib.Extension" />
    <container>
      <extension type="AutoInterception"/>
      <!--同下，这里的名字引用有效是因为前面的sectionExtension定义了别名-->
      <extension type="Interception"/>
      <!--配置的扩展是被添加到container中的，与container.addExtension()对应-->
     
      <interception>
        <policies>
          <add name="service">
            <matchingRule name="MemberNameMatchingRule" type="MemberNameMatchingRule">
              <constructor>
                <param name="nameToMatch" value="*"/>
              </constructor>
            </matchingRule>
            <callHandlers>
              <add type="GS.Entlib.AOPHandler.LogCallHandler, GS.Entlib.AOPHandler" name="LogCallHandler">
                  <constructor>
                    <param name="order" type="System.Int32" value="3">
                    </param>
                    <param name="header" type="System.String" value="************************************">
                    </param>
                    <param name="footer" type="System.String" value="************************************* ">
                    </param>
                  </constructor>
              </add>
              <add type="GS.Entlib.AOPHandler.LockCallHandler, GS.Entlib.AOPHandler" name="LockCallHandler">
                <constructor>
                  <param name="order" type="System.Int32" value="1">
                  </param>
                  <param name="output" type="System.Boolean" value="false">
                  </param>
                </constructor>
              </add>
              <add type="GS.Entlib.AOPHandler.TransactionCallHandler, GS.Entlib.AOPHandler" name="TranCallHandler">
                <constructor>
                  <param name="order" type="System.Int32" value="2">
                  </param>
                  <param name="level" type="System.Int32" value="1">
                  </param>
                  <param name="output" type="System.Boolean" value="true">
                  </param>
                </constructor>
              </add>
            </callHandlers>
          </add>
        </policies>
        
      </interception>
      <autoInterception>
        <interceptor type="InterfaceInterceptor"/>
      </autoInterception>
    </container>
  </unity>
</configuration>